.sec2{width:750px;height:540px;}
.sec2 img{width:750px;height:420px;}
.sec2 h2{width:720px;padding-left:30px;height:52px;font-size:28px;font-weight:normal;color:#65584a;line-height:52px;margin-top:18px; }
.sec2 h3{width:690px;padding-left:30px;height:52px;font-size:28px;font-weight:normal;color:#65584a;line-height:52px; padding-right:30px;}
.sec2 h3 span{float:left;}
.sec2 h3 em{float:right;font-style: normal;}
.sec2 a{color:#65584a;}
























