/*header*/
.head{width:750px;height:477px;border:1px solid #cdb7ab;background:url(../images/6.jpg) no-repeat;background-size:100% 100%;}
header{width:750px;height:88px;background:rgba(0,0,0,0.3);}
header span{width:81px;height:88px;line-height:88px;
	text-align:center;font-size:38px;color:#fff;float:left;margin-right: 520px;}
header em{width:47px;height:54px;float:left;margin-right:28px;padding-top:34px;}
header em img{width:47px;height:38px;}
header i{width:47px;height:67px;float:left;padding-top:21px;}
header i img{width:43px;height:50px;}
/*section*/
section{width:750px ;height:676px ;padding-top:49px;}
section h2{width:750px ;height:49px ;font-size: 32px;color:#333333;text-align:center;}
section h3{width:750px ;height:55px ;font-size: 28px;color:#a19180;text-align:center;font-weight: normal;}
section h4{width:721px ;height:44px ;font-size: 22px;color:#666666;padding-left:29px;font-weight: normal;}
section h5{width:750px ;height:55px ;font-size: 26px;color:#a19180;text-align:center;font-weight: normal;}
section p{width:721px ;line-height:40px;font-size: 27px;color:#666666;padding-left:29px;font-weight: normal;}
.seci{width:750px;height:310px;}
.seci img{width:100%;height:100%;}
/*************footer区域*************************/
footer{width:750px;height:95px;}
footer ul{float:left;margin-left:30px;}
footer ul li{float:left;width:61px;height:79px;padding-top:16px;margin-right:20px;}
footer ul li img{width:60px;height:60px;}
footer p{width:158px;height:95px;float:right;cursor:pointer;line-height: 95px;text-align: center;background:#fe6868;font-size:30px }
footer p a{color:#fff;}










